body {
    width: 800px;
    height: 600px;
    overflow: hidden;
}

#mylistSelect {
    max-height: 537px;
}

#mylistContainer, #nicorepoContainer, #nav-options{
    max-height: 537px;
    overflow-x: hidden;
    overflow-y: auto;
}

#mylistObject-videoLength {
    bottom: 2px;
    right: 16px;
    background-color: rgba(0,0,0,.5);
}

#mylistObject-bodyTitle, #nicorepoObject-bodyTitle {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#mylistObject-url:hover #mylistObject-bodyTitle, #nicorepoObject-user:hover #nicorepoObject-name ,#nicorepoObject-url:hover #nicorepoObject-bodyTitle {
    color: #0080ff !important;
}

.new {
    color: #d0021b;
}