/* popup */
#mylist_setting_menu {
    width: 360px;
    background-color: #fafafa;
}

#mylist_setting_header{
    width: 100%;
    height: 50px;
    background-color: #252525;
}

#mylist_setting_header ul{
    padding: 0; 	
    margin: 0;
    text-align: center;
}

#mylist_setting_header ul li {
    display: inline; 	
    margin-right: 1em;
}

#mylist_setting_header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#selectedTab {
    border-bottom: solid 3px #007cff;
}

#mylist_menu select {
    width: 360px;
    outline: none;
    border: none;
}

#desc_menu {
    display: none;
    height: 210px;
}

#desc_menu textarea{
    width: 358px;
    height: 208px;
    resize: none;
    padding: 0;
}

#option_menu {
    display: none;
    height: 210px;
}

#mylist_setting_status {
    white-space: nowrap;
}

/* Contents Script */
#mylist_setting_button input {
    width: 100%;
    height: 40px;
    background-color: #007cff;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

#mylist_setting_button input:hover{
    background-color: #0060d2;
}
.onclick_mylist {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: none;
    background: transparent;
}

.onclick_mylist:hover {
    cursor: pointer;
}